@charset "UTF-8";

/*
==================================================

    CSS File Name - _variable.scss
    Last-updated: 2016-12-05

    +1: variables

==================================================
*/

/*--------------------------------------------------
    +1: variables
==================================================*/

$color-blue: #4c9cff;
$color-red: #f34e4e;
